<footer th:fragment="footer">
    <div class="box-1">
        <h3>AgroAppCo</h3>
        <ul>
            <li><a href="#">POLITICA DE PRIVACIDAD</a></li>
            <li><a href="#">POLITICA DE TERMINOS Y CONDICIONES</a></li>
            <li><a href="#"> <i class="fa-brands fa-facebook"></i></a> <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a> <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </li>
        </ul>
    </div>

    <div class="box-2">
        <h5>Trabaja con Nostros</h5>
        <ul>
            <li><a href="#">CONTACTANOS</a></li>
            <li><a href="#">QUIERES SER <br> NUESTRO PROVEEDOR?</a></li>
            <li><a href="#">TRABAJA CON <br> NOSOTROS</a></li>

        </ul>
    </div>

    <div class="box-3">
        <h5>Sede principal</h5>
        <ul>
            <li><a href="/v1/agroapp/nosotros">NOSOTROS</a></li>
            <li><a href="#">CORPORATIVO</a></li>
        </ul>
    </div>

    <div class="box-3">
        <h5>Aceptamos cualquier medio de pago</h5>
        <img src="/img/pagos-1024x423.png" alt="mediosdepago">
    </div>
</footer>