<footer th:fragment="footer">
    <div class="box-1">
        <h3>AgroAppCo</h3>
        <ul>
            <li><a href="#">POLITICA DE PRIVACIDAD</a></li>
            <li><a href="#">POLITICA DE TERMINOS Y CONDICIONES</a></li>
            <li><a href="https://www.facebook.com/?locale=es_LA" , target="_blank"> <i
                    class="fa-brands fa-facebook"></i></a> <a href="https://www.linkedin.com/feed/" , target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.youtube.com/" , target="_blank"><i class="fa-brands fa-youtube"></i></a> <a
                        href="https://www.instagram.com/" , target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
        </ul>
    </div>

    <div class="box-2">
        <h5>Informacion de contacto</h5>
        <ul>
            <li><a href="#">QUIERES SER <br> NUESTRO PROVEEDOR?</a></li>
            <li><a href="/v1/agroapp/works">TRABAJA CON <br> NOSOTROS</a></li>

        </ul>
    </div>

    <div class="box-3">
        <h5>Sede principal</h5>
        <ul>
            <li><a href="/v1/agroapp/nosotros">NOSOTROS</a></li>
            <li><a href="#">CORPORATIVO</a></li>
        </ul>
    </div>

    <div class="box-3">
        <h5>Aceptamos cualquier medio de pago</h5>
        <img src="/img/pagos-1024x423.png" alt="mediosdepago">
    </div>
</footer>