<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/RegisterProduct.css">
    <title>Editar Producto</title>
</head>

<body>
<div class="container">
    <h1>Registrar Producto AgroAppCo</h1>
    <form th:action="@{/v1/agroapp/dashboard/edit/{id}(id=${product.id})}" method="post" th:object="${product}">

        <label for="name">Nombre del producto:</label>
        <input type="text" id="name" name="name" th:value="${product.getName()}" required><br>

        <label for="description">Descripción:</label>
        <textarea id="description" name="description" th:value="${product.getDescription()}" required></textarea><br>

        <label for="PLU">Referencia:</label>
        <input type="number" id="PLU" name="PLU" th:value="${product.getPLU()}" required><br>

        <label for="image">Imagen del producto:</label>
        <input type="text" id="image" name="image" th:value="${product.getImage()}"><br>

        <label for="price">Precio por kg:</label>
        <input type="number" step="0.01" id="price" th:value="${product.getPrice()}" name="price" required><br>

        <label for="category">Categoría:</label>
        <select id="category" name="category" th:value="${product.category}" required>
            <option value="">Seleccione una categoría</option>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select><br>

        <button type="submit">Enviar</button>
    </form>
</div>
</body>
</html>