<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/login.css}">
</head>
<body>
<div class="formulario">
    <h2>Iniciar Sesión</h2>
    <form method="post">
        <div class="username">
            <input type="text" required>
            <label>Correo electrónico</label>
        </div>
        <div class="username">
            <input type="password" required>
            <label>Contraseña</label>
        </div>

        <input type="checkbox" class="checkbox"><span>Recordar contraseña</span>

        <input class="Inicio" type="submit" value="Iniciar">

        <div class="redes-sociales">
            <img src="/img/G.png" alt="icono_facebook">
            <img src="/img/F.jpg" alt="icono_google">
        </div>
        <div class="registrarse">
            ¿No tienes cuenta? <a href="#">¡Regístrate!</a>
        </div>
    </form>
</div>
<body>
<html>