<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/TermsCondition.css">

    <script src="https://kit.fontawesome.com/3935140481.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <title>Terminos y Condiciones</title>
</head>
<body>

<header th:replace="components/navbar.html :: nav_bar"></header>

<div class="container">
    <h1>Términos y Condiciones de AgroappCo</h1>

    <p><strong>Fecha de entrada en vigencia:</strong> 01/01/2025</p>

    <h2>1. Introducción</h2>
    <p>Bienvenido a AgroappCo. Al utilizar nuestros servicios y nuestra plataforma, usted acepta los siguientes términos
        y condiciones. Por favor, léalos cuidadosamente.</p>

    <h2>2. Definiciones</h2>
    <ul>
        <li><strong>"Nosotros"</strong> se refiere a AgroappCo.</li>
        <li><strong>"Usted"</strong> se refiere al usuario de nuestros servicios y plataforma.</li>
        <li><strong>"Servicios"</strong> se refiere a la intermediación en la compra y venta de frutas y verduras a
            través de nuestra plataforma.
        </li>
    </ul>

    <h2>3. Aceptación de los Términos</h2>
    <p>Al acceder o utilizar nuestros Servicios, usted acepta cumplir con estos Términos y Condiciones, así como con
        cualquier política adicional que podamos publicar.</p>

    <h2>4. Registro y Cuenta</h2>
    <p>Para acceder a ciertos servicios, deberá crear una cuenta. Usted es responsable de mantener la confidencialidad
        de su cuenta y de todas las actividades realizadas bajo su cuenta.</p>

    <h2>5. Uso de los Servicios</h2>
    <p>Nuestros Servicios están destinados a facilitar la compra y venta de frutas y verduras en Colombia y Perú.
        AgroappCo actúa únicamente como intermediario entre compradores y vendedores. No somos responsables de la
        calidad de los productos ni de los acuerdos entre las partes.</p>

    <h2>6. Precios y Pagos</h2>
    <p>Los precios de los productos se muestran en nuestra plataforma y pueden variar. El pago se realizará a través de
        los métodos de pago disponibles en nuestra plataforma.</p>

    <h2>7. Entregas y Devoluciones</h2>
    <ul>
        <li><strong>Entregas:</strong> Las entregas se realizan en las principales ciudades de Colombia y Perú. Los
            plazos y costos de entrega se especificarán durante el proceso de compra.
        </li>
        <li><strong>Devoluciones:</strong> Las devoluciones están sujetas a las políticas de devolución del vendedor.
            Por favor, consulte con el vendedor para más detalles sobre devoluciones.
        </li>
    </ul>

    <h2>8. Propiedad Intelectual</h2>
    <p>Todos los contenidos y materiales en nuestra plataforma, incluidos textos, gráficos y logotipos, son propiedad de
        AgroappCo o de sus respectivos propietarios y están protegidos por derechos de autor y otras leyes de propiedad
        intelectual.</p>

    <h2>9. Responsabilidad</h2>
    <p>Como intermediario, no seremos responsables por daños indirectos, incidentales o consecuenciales que resulten del
        uso o la imposibilidad de uso de nuestros Servicios, ni de la calidad de los productos ofrecidos por los
        vendedores.</p>

    <h2>10. Modificaciones</h2>
    <p>Podemos modificar estos Términos y Condiciones en cualquier momento. Las modificaciones entrarán en vigor en el
        momento en que se publiquen en nuestra plataforma.</p>

    <h2>11. Ley Aplicable</h2>
    <p>Estos Términos y Condiciones se regirán e interpretarán de acuerdo con las leyes de Colombia y Perú, según
        corresponda.</p>

    <h2>12. Contacto</h2>
    <p>Si tiene alguna pregunta sobre estos Términos y Condiciones, puede contactarnos a través de contacto@agroapp.co o
        01800056568.</p>
</div>
<footer th:replace="components/footer.html :: footer"></footer>
</body>
</html>