* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

footer {
    display: flex;
    background-color: #eceaea;
    gap: 20px;
    justify-content: space-around;
    padding: 10px;
    color: gray;
    font-size: 15px;
    border: 1px solid gray;
    padding: 60px;

    img {
        width: 450px;
        height: 200px;
        margin-top: 20px;
    }

    ul {
        list-style: none;
        margin: 10px;
        padding: 5px;
        justify-content: space-around;
    }

    li {
        margin: 20px;
    }

    a {
        text-decoration: none;
        color: gray;
        transition: color 0.3s;

    }

    a:hover {
        text-decoration: underline;
        color: #5fc05f;
        transition: color 0.3s;

    }


    i {
        font-size: 10mm;
        margin: 10px;
    }

    h3, h5 {
        font-size: 20px;
    }
}



