* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

a {
    color: rgb(39, 39, 39);
    text-decoration: none;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 20px;
    margin-top: 10px;
}

.socials img {
    width: 35px;
    transition: all 0.1s ease-in;
}

.facebook:hover {
    filter: invert(34%) sepia(91%) saturate(3101%) hue-rotate(203deg) brightness(100%) contrast(91%);;
}

.instagram:hover {
    filter: invert(35%) sepia(48%) saturate(6946%) hue-rotate(315deg) brightness(89%) contrast(94%);
}

.top, nav, nav ul {
    display: flex;
    flex-direction: row;
}

.top {
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(39, 39, 39,0.4);
}

nav {
    justify-content: space-between;
    flex: 1;
}

.submenu {
    padding-left: 50px;
    list-style: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 575;
    gap: 25px;
}

.submenu li a:hover {
    color: #3BAE49;
}

.btn {
    padding: 6px 12px;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.signin {
    color: #0067E6;
    border-color: rgba(0, 103, 230, 0.5);
    margin-right: 10px;
}

.signin:hover {
    border-color: #0067E6;
}

.signup {
    color: white;
    border-color: #3BAE49;
    background-color: #3BAE49;
}

.signup:hover {
    background-color: #1b5e23;
    border-color: #1b5e23;
}

.bottom form {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bottom input {
    width: 75%;
    padding: 10px 20px 10px 40px;
    background-image: url("/img/icon_search.png");
    background-position: 5px;
    background-size: 26px; 
    background-repeat: no-repeat;
    border-style: none;
    border: 1px solid rgba(39, 39, 39,0.4);
    border-radius: 5px;
}

.bottom input:hover {
    border-color: rgb(39, 39, 39);
}

.bottom input:focus {
    outline: none; 
    border-color: none;
}

.bottom input:focus-visible {
    outline: 3px solid #3BAE49;
    border-color: none;
}