.product-card {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-color: #ffffff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.product-card img {
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333333;
}

.product-card p {
    margin: 10px 0;
    color: #777777;
    font-size: 1em;
}

.product-card .price {
    font-size: 1.4em;
    font-weight: bold;
    color: #388e3c;
    margin: 15px 0;
}

.product-card button {
    background-color: #388e3c;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.product-card button:hover {
    background-color: #2e7d32;
}

.container_products {
    padding: 60px;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    border-radius: 12px;
    background-color: #f9f9f9;
}

.referencia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
