
body {
    font-family: Inter;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.left-section {
    flex: 1;
    margin-right: 20px;
}

.left-section h1 {
    font-size: 2em;
    color: #171616;
}

.left-section h2 {
    font-size: 1.5em;
    color: #050505;
}

.left-section p {
    line-height: 1.6;
    margin: 10px 0;
}


.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    max-width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-section, .right-section {
        margin: 0;
    }
}
