* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.init-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
    font-size: 20px;
    color: white;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/coleccion-frutas-verduras-fondo-alimentos-formato-vertical-manzanas-naranjas-tomates-fruta-fresca-verdura_770123-3581.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    h1, h3 {
        padding: 10px;
    }
}

.service-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 30px;
    background-color: #9edea1;
    height: 400px;
}

.service-img div {
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    padding: 30px;
    font-size: 6mm;
    font-weight: bold;
    color: white;
    background-color: #77b777;

}

.material-symbols-outlined {
    font-size: 48px;
    padding: 40px;

}

.Productos {
    color: white;
    font-weight: bold;
    margin: 50px;
    padding: 20px;
    font-size: 8mm;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid black;
    background: black;
    transition: 0.5s;
}

.Productos:hover {
    background-color: #ffffff;
    color: black;
    border-color: transparent;
    transition: 0.5s;
    font-size: 9mm;
}

.img-fresh {
    margin: 30px;
    padding: 20px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}




